/*=== Main ===*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ccc;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

th {
    background-color: #f4f4f4;
}

/*=== Other ===*/
.dropdown-menu {
  background: white;
  border: 1px solid #ccc;
  width: 200px;
  z-index: 1000;
}

.dropdown-item {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}